<%= form_for @exercise_item, :html => { :class => 'form-horizontal' }, :remote => true do |f| %>
  <%= f.hidden_field :key %>
  <div class="control-group">
    <%= f.label :graded, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :graded, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="exercise_item_audio">Audio</label>
    <div class="controls exercise_item_audio">
      <p><%= @exercise_item.audio_name %></p>
        <%= direct_upload_form_for @audio_uploader do |f| %>
          <p><%= f.file_field :audio %></p>
        <% end %>
    </div>
  </div>


  <div class="control-group">
    <%= f.label :answer, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :answer, :class => 'text-field' %>
    </div>
  </div>

<% end %>

