<li>
  <fieldset>
      <%= f.hidden_field :position, value: nested_child_index(f), class: "hidden-position" %>
      <%= link_to icon("headphones", "white").html_safe, "#", :class => "add-audio-field" %>
      <%= link_to icon("camera","white").html_safe, "#", :class => "add-image-field" %>

      <%= audio_tag(f.object.audio_url, :preload => true, :controls => true) unless f.object.audio_url.blank?%>
      <%= render :partial => 'shared/remove_audio', :locals => {:f => f} unless ( f.object.audio_url.include?("fallback") ||  f.object.audio_url.blank? ) %>

      <%= image_tag(f.object.image_url(:small).to_s) unless f.object.image.blank? %>
      
      <%= f.file_field :audio, :class => "hidden audio-upload-field upload-field" %>
      <%= f.file_field :image, :class => "hidden image-upload-field upload-field" %>
      <%= f.text_field(:fill_in_the_blank, class: "fill-in-the-blank-field text-field") %>
      <%= f.hidden_field :_destroy %>
      <%= link_to icon("remove", "white"), '#', class: "remove_fields"%>
  </fieldset>
</li>
