<fieldset>
  <%= f.label :title, "Exercise Prompt", :class => "control-label" %>
  <div class="controls">
    <%= f.text_area :prompt, :class => "tinymce", :rows => 10, :cols => 120  %><br />
    <%= f.check_box :_destroy %>
    <%= f.label :_destroy, "Remove Exercise" %>
    <%= f.fields_for :exercise_items do |builder| %>
      <%= render 'exercise_item_fields', f: builder %>
    <% end %>
    <%= link_to_add_fields "Add Exercise Item", f, :exercise_items %>
  </div>
</fieldset>