<li>
	<fieldset>
		<div class="control-group">
			<%= icon('resize-vertical', 'white') %>
			<%= f.hidden_field :id %>
			<%= f.hidden_field :position,  class: "hidden-position" %>
			<%= link_to icon("headphones", "white").html_safe, "#", :class => "add-audio-field" %>
			<%= link_to icon("camera","white").html_safe, "#", :class => "add-image-field" %>

			<%= audio_tag(f.object.audio_urls) unless f.object.audio_url.blank? || f.object.audio_url.include?("fallback") %>
			<% if f.object.id %>
			<%= link_to icon('times', 'white'), exercise_remove_audio_path(f.object), :confirm => "Are you sure you want to delete this file?", :method => :delete  unless f.object.audio_url.blank? %>
			<% end %>

			<%= image_tag(f.object.image_url(:small).to_s) unless f.object.image.blank? %>

			<%= f.file_field :audio, :class => "hidden audio-upload-field upload-field" %>
			<%= f.file_field :image, :class => "hidden image-upload-field upload-field" %>
			<%= f.text_field(:fill_in_the_blank, class: "fill-in-the-blank-field text-field") %>
			<%= f.hidden_field :_destroy %>
			<%= link_to icon("times", "white"), '#', class: "remove_fields" %>
		</div>
	</fieldset>
</li>