<%= drill_breadcrumbs(@drill) %>
<%= form_for @drill, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :unit_id, :class => 'hidden' %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text-field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :instructions, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :instructions, :rows => "1", :class => 'text_area tinymce' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :prompt, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :prompt, :rows => "3", :class => 'text_area tinymce' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rtl, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :rtl, :class => 'set-rtl' %>
    </div>
  </div>
    <div class="control-group">
    <%= f.label :hide_text, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :hide_text, :class => 'set-show-text' %>
    </div>
  </div>
  <% if @drill.exercises.empty? %>
    <div class="control-group">
      <%= f.label :type, :class => 'control-label' %>
      <div class="controls">
      <%= select("drill", "type", (["GridDrill","FillDrill"]+Drill.all.each.collect {|d| d.type}).flatten.compact.uniq , {:prompt => 'Select a Drill Type', :selected => @drill.type }) %>
      </div>
    </div>
  <% end %>
  
  <div class="control-group">
    <div id="exercises" class="controls">
      <%= render nested_folder(@drill) + 'fields', :f => f unless @drill.type.nil? || @drill.type.empty? %>
    </div>
  </div>
  <div class="form-actions <%= @drill.type.to_s.underscore %>">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), drills_path, :class => 'btn' %>
  </div>
  <%= tinymce :default %>
<% end %>
