<%= form_for @drill, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <label class="control-label" for="drill_lesson">Lesson</label>
    <div class="controls">    
      <%= select("drill", "lesson_id", Lesson.all.sort_by(&:position).collect {|l| [ l.title, l.id ] }, {:prompt => 'Select a Lesson', :selected => @drill.lesson_id }) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :instructions, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :instructions, :size => "20x2", :class => 'text_area tinymce' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :prompt, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :prompt, :size => "20x2", :class => 'tinymce' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :exercises, :class => 'control-label' %>
    <table summary="<%= @drill.title.to_s.parameterize.underscore %> ">
      <%= header_row(@drill.column_names, f => f, :editable => :true).to_s.html_safe %>
      <%= f.fields_for :exercises do |builder| %>
        <%= render "table", f: builder %>
      <% end %>
      <%= link_to_add_fields "Add Row", f, :exercises %>
    </table>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), drills_path, :class => 'btn' %>
  </div>
  <%= tinymce %>
<% end %>
