<%= form_for @drill, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <label class="control-label" for="drill_lesson">Lesson</label>
    <div class="controls">    
      <%= select("drill", "lesson_id", Lesson.all.sort_by(&:position).collect {|l| [ l.title, l.id ] }, {:prompt => 'Select a Lesson', :selected => @drill.lesson_id }) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :prompt, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :prompt, :size => "20x3", :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :instructions, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :instructions, :size => "20x3", :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :position, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :position, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :exercise_items_per_exercise, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :exercise_items_per_exercise, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.fields_for :exercises do |builder| %>
      <%= render 'exercise_fields', f: builder %>
    <% end %>
    <%= link_to_add_fields "Add Exercise", f, :exercises %>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                drills_path, :class => 'btn' %>
  </div>
<% end %>
