<%- model_class = Drill -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:lesson) %>:</strong></dt>
  <dd><%= @drill.lesson.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @drill.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:instructions) %>:</strong></dt>
  <dd><%= @drill.instructions.to_s.html_safe %></dd>
   <dt><strong><%= model_class.human_attribute_name(:prompt) %>:</strong></dt>
   <dd><%= @drill.prompt.to_s.html_safe %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exercises) %>:</strong></dt>
  <dd>

    <%= before_exercise_wrapper(@drill).html_safe %>
      <%= render :partial => nested_folder(@drill) + 'perform_exercises', :collection => @drill.exercises, :as => :exercise %>
    <%= after_exercise_wrapper(@drill).html_safe %>
  </dd>
</dl>
<div style="clear:both"></div>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              drills_path, :class => 'btn'  %>
  <%= link_to t('.submit', :default => t("helpers.links.submit")),
              submit_drill_path(@drill), :class => 'btn' %>
</div>
