<%- model_class = Drill -%>
<div>
  <h5><strong><%= model_class.human_attribute_name(:unit) %>:</strong>  <%= @drill.unit.title %></h5>
  <h5><strong><%= model_class.human_attribute_name(:title) %>:</strong>  <%= @drill.title %></h5>
  <h5><strong><%= model_class.human_attribute_name(:instructions) %>:</strong></h5>
  <p><%= @drill.instructions.to_s.html_safe %></p>
</div>
<div style="clear:both"></div>
<ul class="nav nav-tabs">
  <li class="active"><a href="#performance" data-toggle="tab">Performance</a></li>
  <li><a href="#placeholder" data-toggle="tab">Nothing here</a></li>
</ul>
<div class="tab-content">

    <% if can? :manage, @drill %>
      <div class="tab-pane active" id="performance">
        <%= render :partial => 'shared/performance', :locals => {:drill => @drill, :attempters => @attempters, :is_unit => false} %>
      </div>
    <% end -%>

  <% if can? :manage, @drill %>
    <div class="tab-pane" id="placeholder">
    </div>
  <% end -%>
</div>   <!-- .tab-content -->

