<%- model_class = Drill -%>
<div>
  <h5><strong><%= model_class.human_attribute_name(:unit) %>:</strong>  <%= @drill.unit.title %></h5>
  <h5><strong><%= model_class.human_attribute_name(:title) %>:</strong>  <%= @drill.title %></h5>
  <h5><strong><%= model_class.human_attribute_name(:instructions) %>:</strong></h5>
  <p><%= @drill.instructions.to_s.html_safe %></p>
</div>
<div style="clear:both"></div>
  <% if current_user && current_user.is_lti? %> 
    <%= render :partial => 'shared/performance', :locals => {:performances => @performances, :is_unit => false} %>
  <% else %>
    <% if can? :read, @drill %>
      <ul class="nav nav-tabs">
        <% if can? :manage, @drill %>
        <li class="active"><a href="#performance" data-toggle="tab">Performance</a></li>
        <% end -%> 
        <li <%= "class=active" if cannot? :manage, @drill %> ><a href="#preview" data-toggle="tab">Drill Preview</a></li>
      </ul>
      <div class="tab-content">
        <% if can? :manage, @drill %>
          <div class="tab-pane active" id="performance">
              <%= render :partial => 'shared/performance', :locals => {:performances => @performances, :is_unit => false} %>
          </div>
        <% end -%> 
        <div class="tab-pane <%= "active" if cannot? :manage, @drill %>" id="preview">
          <%= render :partial => '/drills/' + @drill.type.underscore + 's/show', :locals => {:drill => @drill } %>
        </div>
      </div>   <!-- .tab-content -->
    <% else %>
      <p>Administrator login required</p>
    <% end -%>      
  <% end -%>