<%- model_class = Drill -%>
<div>
  <h5><strong><%= model_class.human_attribute_name(:unit) %>:</strong>  <%= @drill.unit.title %></h5>
  <h5><strong><%= model_class.human_attribute_name(:title) %>:</strong>  <%= @drill.title %></h5>
  <h5><strong><%= model_class.human_attribute_name(:instructions) %>:</strong></h5>
  <p><%= @drill.instructions.to_s.html_safe %></p>
</div>
<div style="clear:both"></div>

