<%- model_class = Drill -%>
<div>
  <h5><strong><%= model_class.human_attribute_name(:unit) %>:</strong>  <%= @drill.unit.title %></h5>
  <h5><strong><%= model_class.human_attribute_name(:title) %>:</strong>  <%= @drill.title %></h5>
  <h5><strong><%= model_class.human_attribute_name(:instructions) %>:</strong></h5>
  <p><%= @drill.instructions.to_s.html_safe %></p>
</div>
<div style="clear:both"></div>
  <% if current_user && current_user.is_lti? %> 
    <%= render :partial => 'shared/performance', :locals => {:performances => @performances, :is_unit => false} %>
  <% else %>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#performance" data-toggle="tab">Performance</a></li>
      <li><a href="#preview" data-toggle="tab">Drill Preview</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="performance">
        <% if can? :manage, @drill %>
          <%= render :partial => 'shared/performance', :locals => {:performances => @performances, :is_unit => false} %>
        <% else %>
          <p>Administrator login required</p>
        <% end -%>
      </div>
        <div class="tab-pane" id="preview">
          <p>Under development</p>
        </div>
    </div>   <!-- .tab-content -->
  <% end -%>
