<li class="drag_drill_exercise_item">
      <fieldset>
            <%= f.hidden_field :id %>
            <%= f.hidden_field :position, value: nested_child_index(f) %>
            <%= f.hidden_field :position,  class: "hidden-position" %>
            <%= link_to icon("times", "white"), '#', class: "remove_fields" %>
            <%= link_to icon("headphones", "white").html_safe, "#", :class => "add-audio-field" %>
            <%= audio_tag(f.object.audio_urls) unless f.object.audio_url.blank? || f.object.audio_url.include?("fallback") %>
            <%= link_to icon("camera","white").html_safe, "#", :class => "add-image-field" %>

            <% if f.object.id %>
            <%= link_to icon('times', 'white'), exercise_item_remove_audio_path(f.object), :confirm => "Are you sure you want to delete this file?", :method => :delete  unless f.object.audio.blank? %>
            <% end %>

            <%= image_tag(f.object.image_url(:small).to_s) unless f.object.image.blank? %>

            <%= f.file_field :audio, :class => "hidden audio-upload-field upload-field" %>
            <%= f.label :audio_file, :class => "hidden audio-upload-label" %>
            <%= f.file_field :image, :class => "hidden image-upload-field upload-field" %>
            <%= f.label :image_file, :class => "hidden image-upload-label" %>
            <%= f.text_area(:text, class: "resize-on-change") %>
            <%= f.hidden_field :_destroy %>

      </fieldset>
</li>