<%= f.label :options %>
<div class="checkbox-controls">
  <%= f.label :rtl, :class => 'control-label' %>
  <%= f.check_box :rtl, :class => 'set-rtl' %>

  <%= f.check_box :hide_text, :class => 'set-show-text hidden' %>

  <%= f.check_box :retain_correct, :class => 'set-retain-correct hidden' %>
</div>
