<li>
	<fieldset>
		<ol id="sortable-exercise-item-" class="drag_drill_exercise" >
			<%= f.hidden_field :id %>
      <%= f.text_field :prompt, :class => 'text-field' %>
    	<%= f.hidden_field :position, value: nested_child_index(f) %>
			<%= link_to icon("times", "white"), '#', class: "remove_fields" %>
		  <%= f.fields_for :exercise_items do |builder| %>
		      <%= render '/drills/drag_drills/drag_exercise_item_fields', :f => builder %>    
		  <% end %>
			
			<%= link_to_add_fields "Add Tile", f, :exercise_items, "/drills/drag_drills/drag_exercise_item_fields" %>
		</ol>
	</fieldset>
</li>