<%= form_for @unit, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :position, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :position, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :course_id, :class => 'control-label' %>
    <div class="controls">
      <%= select("unit", "course_id", Course.all.sort_by(&:position).collect {|c| [ c.title, c.id ] }, {:prompt => 'Select a Course', :selected => @unit.course_id }) %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                units_path, :class => 'btn' %>
  </div>
<% end %>
