<%- model_class = Unit -%>
<div>
  <h5><strong><%= model_class.human_attribute_name(:course) %>:</strong>  <%= @unit.course.title %></h5>
  <h5><strong><%= model_class.human_attribute_name(:unit) %>:</strong>  <%= @unit.title %></h5>
</div>
<div style="clear:both"></div>
<ul class="nav nav-tabs">
  <li class="active"><a href="#performance" data-toggle="tab">Performance</a></li>
  <li><a href="#placeholder" data-toggle="tab">Nothing here</a></li>
</ul>
<div class="tab-content">
    <% if can? :manage, @unit %>
      <div class="tab-pane active" id="performance">
        <% @unit.drills.each do |drill| %>
          <% attempters = drill.attempters.includes(:attempts =>:responses).uniq %>
          <%= render :partial => 'shared/performance', :locals => {:attempters => attempters, :drill => drill, :is_unit => true } %>
        <% end -%>
      </div>
    <% else %>
      <p>Only instructors assigned to this course can see the students' performance</p>
    <% end -%>

  <% if can? :manage, @unit %>
    <div class="tab-pane" id="placeholder">
    </div>
  <% end -%>
</div>   <!-- .tab-content -->