<%- table_cell = "cell-c" + (f.object.header.position + 1).to_s + "-r" + (f.object.exercise.position + 1).to_s %>

<td class="cell" id="<%= table_cell %>">
  <%= f.text_field :text, :class => 'text-field' %>
  <%= f.hidden_field :position, value: nested_child_index(f) %>
  <%= link_to icon("headphones", "white").html_safe, "#", :class => "add-audio-field" %>
  <%= audio_tag(f.object.audio_url) unless f.object.audio_url.include?("fallback") %>
  <%= link_to icon('remove-sign', 'white'), exercise_item_remove_audio_path(f.object), :confirm => "Are you sure you want to delete this file?", :method => :delete unless f.object.audio_url.include?("fallback") %>

  <%= image_tag(f.object.image_url(:small).to_s) unless f.object.image.blank? %>
  <%= f.file_field :audio, :class => "hidden audio-upload-field upload-field" %>
</td>
