<table class="table table-striped">
  <thead>
    <tr>
      <th class="cell cell-c0-r0"><%= f.text_field :title, :class => 'table-title' %></th>
      <%= f.fields_for :headers do |builder| %>
        <%= render nested_folder(@drill) + 'header_fields', f: builder %>
      <% end %>
      <th class="add_column"><%= link_to "Add Column", column_add_drill_path(@drill) ,class: "submit-form" %></th>
    </tr>
  </thead>
  <tbody>
    <%= f.fields_for :exercises do |builder| %>
        <%= render nested_folder(@drill) + 'exercise_fields', :f => builder %>
    <% end %>
    <tr>
      <td class="add_row"><%= link_to "Add Row", row_add_drill_path(@drill), class: "submit-form" %></td>
    </tr>
  </tbody>
</table>
 