<%- model_class = Course -%>
<li class="nav-leaf course">
  <% if can? :read, course %>
  	<%= link_to icon("book") + course.title, course_path(course) %>
  <% end -%>
  <% if can? :update, course %>
  	<%= link_to icon("pencil"), edit_course_path(course) %>
  <% end -%>
  <% if can? :destroy, course %>
  <%= link_to icon("remove"), course_path(course), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>
  <% end -%>
  <ul class="nav-branch units">
  	<%= render partial: 'layouts/unit_navigation', :collection => course.units, as: :unit %>
  </ul>
<% if can? :update, course %>
  <%= link_to icon("plus") + "Add New Unit", new_course_unit_path(course) %>
<% end -%>
</li>