<%- model_class = Course -%>
<% if can? :read, course %>
<li class="nav-leaf course" data-course-id="<%= course.id %>">
<% end -%>

  <% if can? :read, course %>
    <%= link_to icon("expand"), "#", :class => "expand-course" %>
    <%= link_to icon("collapse"), "#", :class => "collapse-course hidden" %>
  	<%= link_to course.title, course_path(course), :title => "View", :class => "text-link" %>
  <% end -%>
  <span class="nav-actions">
    <% if can? :update, course %>
    	<%= link_to icon("pencil"), edit_course_path(course), :title => "Edit" %>
    <% end -%>
    <% if can? :destroy, course %>
    <%= link_to icon("remove"), course_path(course), :method => :delete, :title => "Remove", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Really?  This will delete *everything* in the course.')) } %>
    <% end -%>
  </span>
  <ul class="nav-branch units">
  	<%= render partial: 'layouts/unit_navigation', :collection => course.units.includes(:drills), as: :unit %>
  <% if can? :update, course %>
  <li>
    <%= link_to icon("plus") + "Add New Unit", new_course_unit_path(course), :title => "Add New" %>
  <% end -%>
<% if can? :read, course %>  
</li>
  </ul>
</li>
<% end -%>