<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Ocill</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag "application", :media => "all" %>
  <!-- TODO Remove this tag -->
  <%= stylesheet_link_tag "http://dev.laits.utexas.edu/ocill/ocill.css" %>

  <%= javascript_include_tag "application" %>
  <!-- TODO Remove this tag -->
  <%=  javascript_include_tag "http://dev.laits.utexas.edu/ocill/ocill.js"  %>
  <%= tinymce_assets %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="container">
  <%= render 'layouts/header' %>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span4">
        <section id="sidebar">
          <% if current_user %>
          <ul id="nav-tree" >
            <%= render partial: 'layouts/course_navigation', :collection => Course.all, as: :course %>
            <% if can? :create, Course %>
              <li>
              <%= link_to icon("plus") + " Add New Course", new_course_path %>
              </li>
            <% end %>
          </ul>
          <% else %>
            <%= render partial: 'layouts/guest_sidebar' %>
          <% end %>
        </section>
      </div>
      <div class="span8"><%= yield %></div>
    </div>
  </div>
</body>
</html>
